$border-none: var(--border-none);
$border-ultra-thin: var(--border-ultra-thin);
$border-thin: var(--border-thin);
$border-regular: var(--border-regular);
$border-medium: var(--border-medium);
$border-strong: var(--border-strong);
$border-ultra-strong: var(--border-ultra-strong);
$xs: 375px;
$sm: 800px;
$md: 1024px;
$mlg: 1285px;
$lg: 1440px;
$xlg: 1600px;
$xxlg: 1920px;
$opacity-none: var(--opacity-none);
$opacity-10: var(--opacity-10);
$opacity-20: var(--opacity-20);
$opacity-30: var(--opacity-30);
$opacity-40: var(--opacity-40);
$opacity-50: var(--opacity-50);
$opacity-60: var(--opacity-60);
$opacity-70: var(--opacity-70);
$opacity-80: var(--opacity-80);
$opacity-90: var(--opacity-90);
$opacity-100: var(--opacity-100);
$none: var(--none);
$small: var(--small);
$medium: var(--medium);
$large: var(--large);
$xlarge: var(--xlarge);
$circle: var(--circle);
$icon-icon-size-8: var(--icon-icon-size-8);
$icon-icon-size-10: var(--icon-icon-size-10);
$icon-icon-size-12: var(--icon-icon-size-12);
$icon-icon-size-14: var(--icon-icon-size-14);
$icon-icon-size-16: var(--icon-icon-size-16);
$icon-icon-size-24: var(--icon-icon-size-24);
$icon-icon-size-26: var(--icon-icon-size-26);
$icon-icon-size-32: var(--icon-icon-size-32);
$icon-icon-size-40: var(--icon-icon-size-40);
$icon-icon-size-44: var(--icon-icon-size-44);
$icon-icon-size-48: var(--icon-icon-size-48);
$icon-icon-size-50: var(--icon-icon-size-50);
$icon-icon-size-54: var(--icon-icon-size-54);
$icon-icon-size-56: var(--icon-icon-size-56);
$icon-icon-size-64: var(--icon-icon-size-64);
$icon-icon-size-80: var(--icon-icon-size-80);
$icon-icon-size-100: var(--icon-icon-size-100);
$size-24: var(--size-24);
$size-28: var(--size-28);
$size-32: var(--size-32);
$size-36: var(--size-36);
$size-40: var(--size-40);
$size-44: var(--size-44);
$size-48: var(--size-48);
$size-52: var(--size-52);
$size-56: var(--size-56);
$size-64: var(--size-64);
$size-80: var(--size-80);
$size-160: var(--size-160);
$size-240: var(--size-240);
$spacing-none: var(--spacing-none);
$spacing-25: var(--spacing-25);
$spacing-50: var(--spacing-50);
$spacing-75: var(--spacing-75);
$spacing-100: var(--spacing-100);
$spacing-125: var(--spacing-125);
$spacing-150: var(--spacing-150);
$spacing-175: var(--spacing-175);
$spacing-200: var(--spacing-200);
$spacing-225: var(--spacing-225);
$spacing-250: var(--spacing-250);
$spacing-275: var(--spacing-275);
$spacing-300: var(--spacing-300);
$spacing-325: var(--spacing-325);
$spacing-350: var(--spacing-350);
$spacing-375: var(--spacing-375);
$spacing-400: var(--spacing-400);
$spacing-425: var(--spacing-425);
$spacing-450: var(--spacing-450);
$spacing-500: var(--spacing-500);
$spacing-600: var(--spacing-600);
$spacing-700: var(--spacing-700);
$spacing-750: var(--spacing-750);
$spacing-800: var(--spacing-800);
$spacing-1000: var(--spacing-1000);
$spacing-1200: var(--spacing-1200);
$spacing-1300: var(--spacing-1300);
$spacing-1400: var(--spacing-1400);
$spacing-1600: var(--spacing-1600);
$font-size-10: var(--font-size-10);
$font-size-12: var(--font-size-12);
$font-size-14: var(--font-size-14);
$font-size-16: var(--font-size-16);
$font-size-18: var(--font-size-18);
$font-size-20: var(--font-size-20);
$font-size-22: var(--font-size-22);
$font-size-24: var(--font-size-24);
$font-size-26: var(--font-size-26);
$font-size-28: var(--font-size-28);
$font-size-30: var(--font-size-30);
$font-size-32: var(--font-size-32);
$font-size-36: var(--font-size-36);
$font-size-42: var(--font-size-42);
$font-size-48: var(--font-size-48);
$font-size-56: var(--font-size-56);
$font-size-64: var(--font-size-64);
$font-size-72: var(--font-size-72);
$font-size-80: var(--font-size-80);
$font-line-height-12: var(--font-line-height-12);
$font-line-height-14: var(--font-line-height-14);
$font-line-height-16: var(--font-line-height-16);
$font-line-height-18: var(--font-line-height-18);
$font-line-height-20: var(--font-line-height-20);
$font-line-height-22: var(--font-line-height-22);
$font-line-height-24: var(--font-line-height-24);
$font-line-height-26: var(--font-line-height-26);
$font-line-height-28: var(--font-line-height-28);
$font-line-height-30: var(--font-line-height-30);
$font-line-height-32: var(--font-line-height-32);
$font-line-height-34: var(--font-line-height-34);
$font-line-height-36: var(--font-line-height-36);
$font-line-height-38: var(--font-line-height-38);
$font-line-height-40: var(--font-line-height-40);
$font-line-height-42: var(--font-line-height-42);
$font-line-height-44: var(--font-line-height-44);
$font-line-height-48: var(--font-line-height-48);
$font-line-height-52: var(--font-line-height-52);
$font-line-height-56: var(--font-line-height-56);
$font-line-height-64: var(--font-line-height-64);
$font-line-height-72: var(--font-line-height-72);
$font-line-height-80: var(--font-line-height-80);
$font-line-height-88: var(--font-line-height-88);
