$global-palette-black-0: var(--global-palette-black-0);
$global-palette-black-5: var(--global-palette-black-5);
$global-palette-black-10: var(--global-palette-black-10);
$global-palette-black-15: var(--global-palette-black-15);
$global-palette-black-20: var(--global-palette-black-20);
$global-palette-black-25: var(--global-palette-black-25);
$global-palette-black-30: var(--global-palette-black-30);
$global-palette-black-35: var(--global-palette-black-35);
$global-palette-black-40: var(--global-palette-black-40);
$global-palette-black-45: var(--global-palette-black-45);
$global-palette-black-50: var(--global-palette-black-50);
$global-palette-black-55: var(--global-palette-black-55);
$global-palette-black-60: var(--global-palette-black-60);
$global-palette-black-65: var(--global-palette-black-65);
$global-palette-black-70: var(--global-palette-black-70);
$global-palette-black-75: var(--global-palette-black-75);
$global-palette-black-80: var(--global-palette-black-80);
$global-palette-black-85: var(--global-palette-black-85);
$global-palette-black-90: var(--global-palette-black-90);
$global-palette-black-95: var(--global-palette-black-95);
$global-palette-black-100: var(--global-palette-black-100);
$global-palette-white-0: var(--global-palette-white-0);
$global-palette-white-5: var(--global-palette-white-5);
$global-palette-white-10: var(--global-palette-white-10);
$global-palette-white-15: var(--global-palette-white-15);
$global-palette-white-20: var(--global-palette-white-20);
$global-palette-white-25: var(--global-palette-white-25);
$global-palette-white-30: var(--global-palette-white-30);
$global-palette-white-35: var(--global-palette-white-35);
$global-palette-white-40: var(--global-palette-white-40);
$global-palette-white-45: var(--global-palette-white-45);
$global-palette-white-50: var(--global-palette-white-50);
$global-palette-white-55: var(--global-palette-white-55);
$global-palette-white-60: var(--global-palette-white-60);
$global-palette-white-65: var(--global-palette-white-65);
$global-palette-white-70: var(--global-palette-white-70);
$global-palette-white-75: var(--global-palette-white-75);
$global-palette-white-80: var(--global-palette-white-80);
$global-palette-white-85: var(--global-palette-white-85);
$global-palette-white-90: var(--global-palette-white-90);
$global-palette-white-95: var(--global-palette-white-95);
$global-palette-white-100: var(--global-palette-white-100);
$global-palette-neutral-5: var(--global-palette-neutral-5);
$global-palette-neutral-10: var(--global-palette-neutral-10);
$global-palette-neutral-15: var(--global-palette-neutral-15);
$global-palette-neutral-20: var(--global-palette-neutral-20);
$global-palette-neutral-25: var(--global-palette-neutral-25);
$global-palette-neutral-30: var(--global-palette-neutral-30);
$global-palette-neutral-35: var(--global-palette-neutral-35);
$global-palette-neutral-40: var(--global-palette-neutral-40);
$global-palette-neutral-45: var(--global-palette-neutral-45);
$global-palette-neutral-50: var(--global-palette-neutral-50);
$global-palette-neutral-55: var(--global-palette-neutral-55);
$global-palette-neutral-60: var(--global-palette-neutral-60);
$global-palette-neutral-65: var(--global-palette-neutral-65);
$global-palette-neutral-70: var(--global-palette-neutral-70);
$global-palette-neutral-75: var(--global-palette-neutral-75);
$global-palette-neutral-80: var(--global-palette-neutral-80);
$global-palette-neutral-85: var(--global-palette-neutral-85);
$global-palette-neutral-90: var(--global-palette-neutral-90);
$global-palette-neutral-95: var(--global-palette-neutral-95);
$global-palette-pink-10: var(--global-palette-pink-10);
$global-palette-pink-20: var(--global-palette-pink-20);
$global-palette-pink-30: var(--global-palette-pink-30);
$global-palette-pink-20-50: var(--global-palette-pink-20-50);
$global-palette-red-10: var(--global-palette-red-10);
$global-palette-red-20: var(--global-palette-red-20);
$global-palette-red-30: var(--global-palette-red-30);
$global-palette-red-40: var(--global-palette-red-40);
$global-palette-red-50: var(--global-palette-red-50);
$global-palette-red-05: var(--global-palette-red-05);
$global-palette-error-0: var(--global-palette-error-0);
$global-palette-error-5: var(--global-palette-error-5);
$global-palette-error-10: var(--global-palette-error-10);
$global-palette-error-15: var(--global-palette-error-15);
$global-palette-error-20: var(--global-palette-error-20);
$global-palette-error-25: var(--global-palette-error-25);
$global-palette-error-30: var(--global-palette-error-30);
$global-palette-error-35: var(--global-palette-error-35);
$global-palette-error-40: var(--global-palette-error-40);
$global-palette-error-45: var(--global-palette-error-45);
$global-palette-error-50: var(--global-palette-error-50);
$global-palette-error-55: var(--global-palette-error-55);
$global-palette-error-60: var(--global-palette-error-60);
$global-palette-error-65: var(--global-palette-error-65);
$global-palette-error-70: var(--global-palette-error-70);
$global-palette-error-75: var(--global-palette-error-75);
$global-palette-error-80: var(--global-palette-error-80);
$global-palette-error-85: var(--global-palette-error-85);
$global-palette-error-90: var(--global-palette-error-90);
$global-palette-error-95: var(--global-palette-error-95);
$global-palette-yellow-10: var(--global-palette-yellow-10);
$global-palette-yellow-20: var(--global-palette-yellow-20);
$global-palette-yellow-30: var(--global-palette-yellow-30);
$global-palette-yellow-40: var(--global-palette-yellow-40);
$global-palette-yellow-05: var(--global-palette-yellow-05);
$global-palette-warning-0: var(--global-palette-warning-0);
$global-palette-warning-5: var(--global-palette-warning-5);
$global-palette-warning-10: var(--global-palette-warning-10);
$global-palette-warning-15: var(--global-palette-warning-15);
$global-palette-warning-20: var(--global-palette-warning-20);
$global-palette-warning-25: var(--global-palette-warning-25);
$global-palette-warning-30: var(--global-palette-warning-30);
$global-palette-warning-35: var(--global-palette-warning-35);
$global-palette-warning-40: var(--global-palette-warning-40);
$global-palette-warning-45: var(--global-palette-warning-45);
$global-palette-warning-50: var(--global-palette-warning-50);
$global-palette-warning-55: var(--global-palette-warning-55);
$global-palette-warning-60: var(--global-palette-warning-60);
$global-palette-warning-65: var(--global-palette-warning-65);
$global-palette-warning-70: var(--global-palette-warning-70);
$global-palette-warning-75: var(--global-palette-warning-75);
$global-palette-warning-80: var(--global-palette-warning-80);
$global-palette-warning-85: var(--global-palette-warning-85);
$global-palette-warning-90: var(--global-palette-warning-90);
$global-palette-warning-95: var(--global-palette-warning-95);
$global-palette-green-10: var(--global-palette-green-10);
$global-palette-green-20: var(--global-palette-green-20);
$global-palette-green-30: var(--global-palette-green-30);
$global-palette-green-40: var(--global-palette-green-40);
$global-palette-green-50: var(--global-palette-green-50);
$global-palette-green-60: var(--global-palette-green-60);
$global-palette-green-05: var(--global-palette-green-05);
$global-palette-green-20-50: var(--global-palette-green-20-50);
$global-palette-grey-5: var(--global-palette-grey-5);
$global-palette-grey-10: var(--global-palette-grey-10);
$global-palette-grey-15: var(--global-palette-grey-15);
$global-palette-grey-20: var(--global-palette-grey-20);
$global-palette-grey-25: var(--global-palette-grey-25);
$global-palette-grey-30: var(--global-palette-grey-30);
$global-palette-grey-35: var(--global-palette-grey-35);
$global-palette-grey-40: var(--global-palette-grey-40);
$global-palette-grey-45: var(--global-palette-grey-45);
$global-palette-grey-50: var(--global-palette-grey-50);
$global-palette-grey-55: var(--global-palette-grey-55);
$global-palette-grey-60: var(--global-palette-grey-60);
$global-palette-grey-65: var(--global-palette-grey-65);
$global-palette-grey-70: var(--global-palette-grey-70);
$global-palette-grey-75: var(--global-palette-grey-75);
$global-palette-grey-80: var(--global-palette-grey-80);
$global-palette-grey-80-80-50: var(--global-palette-grey-80-80-50);
$global-palette-grey-80-80-0: var(--global-palette-grey-80-80-0);
$global-palette-grey-70-grey-70-95: var(--global-palette-grey-70-grey-70-95);
$global-palette-grey-70-grey-70-90: var(--global-palette-grey-70-grey-70-90);
$global-palette-grey-70-grey-70-85: var(--global-palette-grey-70-grey-70-85);
$global-palette-grey-70-grey-70-80: var(--global-palette-grey-70-grey-70-80);
$global-palette-grey-70-grey-70-75: var(--global-palette-grey-70-grey-70-75);
$global-palette-grey-70-grey-70-70: var(--global-palette-grey-70-grey-70-70);
$global-palette-grey-70-grey-70-65: var(--global-palette-grey-70-grey-70-65);
$global-palette-grey-70-grey-70-60: var(--global-palette-grey-70-grey-70-60);
$global-palette-grey-70-grey-70-55: var(--global-palette-grey-70-grey-70-55);
$global-palette-grey-70-grey-70-50: var(--global-palette-grey-70-grey-70-50);
$global-palette-grey-70-grey-70-45: var(--global-palette-grey-70-grey-70-45);
$global-palette-grey-70-grey-70-40: var(--global-palette-grey-70-grey-70-40);
$global-palette-grey-70-grey-70-35: var(--global-palette-grey-70-grey-70-35);
$global-palette-grey-70-grey-70-30: var(--global-palette-grey-70-grey-70-30);
$global-palette-grey-70-grey-70-25: var(--global-palette-grey-70-grey-70-25);
$global-palette-grey-70-grey-70-20: var(--global-palette-grey-70-grey-70-20);
$global-palette-grey-70-grey-70-15: var(--global-palette-grey-70-grey-70-15);
$global-palette-grey-70-grey-70-10: var(--global-palette-grey-70-grey-70-10);
$global-palette-grey-70-grey-70-5: var(--global-palette-grey-70-grey-70-5);
$global-palette-success-0: var(--global-palette-success-0);
$global-palette-success-5: var(--global-palette-success-5);
$global-palette-success-10: var(--global-palette-success-10);
$global-palette-success-15: var(--global-palette-success-15);
$global-palette-success-20: var(--global-palette-success-20);
$global-palette-success-25: var(--global-palette-success-25);
$global-palette-success-30: var(--global-palette-success-30);
$global-palette-success-35: var(--global-palette-success-35);
$global-palette-success-40: var(--global-palette-success-40);
$global-palette-success-45: var(--global-palette-success-45);
$global-palette-success-50: var(--global-palette-success-50);
$global-palette-success-55: var(--global-palette-success-55);
$global-palette-success-60: var(--global-palette-success-60);
$global-palette-success-65: var(--global-palette-success-65);
$global-palette-success-70: var(--global-palette-success-70);
$global-palette-success-75: var(--global-palette-success-75);
$global-palette-success-80: var(--global-palette-success-80);
$global-palette-success-85: var(--global-palette-success-85);
$global-palette-success-90: var(--global-palette-success-90);
$global-palette-success-95: var(--global-palette-success-95);
$global-palette-success-100: var(--global-palette-success-100);
$global-palette-blue-10: var(--global-palette-blue-10);
$global-palette-blue-20: var(--global-palette-blue-20);
$global-palette-blue-30: var(--global-palette-blue-30);
$global-palette-blue-05: var(--global-palette-blue-05);
$global-palette-blue-tim-blue-tim-05: var(--global-palette-blue-tim-blue-tim-05);
$global-palette-blue-tim-blue-tim-05-95: var(--global-palette-blue-tim-blue-tim-05-95);
$global-palette-blue-tim-blue-tim-05-90: var(--global-palette-blue-tim-blue-tim-05-90);
$global-palette-blue-tim-blue-tim-05-85: var(--global-palette-blue-tim-blue-tim-05-85);
$global-palette-blue-tim-blue-tim-05-80: var(--global-palette-blue-tim-blue-tim-05-80);
$global-palette-blue-tim-blue-tim-05-75: var(--global-palette-blue-tim-blue-tim-05-75);
$global-palette-blue-tim-blue-tim-05-70: var(--global-palette-blue-tim-blue-tim-05-70);
$global-palette-blue-tim-blue-tim-05-65: var(--global-palette-blue-tim-blue-tim-05-65);
$global-palette-blue-tim-blue-tim-05-60: var(--global-palette-blue-tim-blue-tim-05-60);
$global-palette-blue-tim-blue-tim-05-55: var(--global-palette-blue-tim-blue-tim-05-55);
$global-palette-blue-tim-blue-tim-05-50: var(--global-palette-blue-tim-blue-tim-05-50);
$global-palette-blue-tim-blue-tim-10: var(--global-palette-blue-tim-blue-tim-10);
$global-palette-blue-tim-blue-tim-10-95: var(--global-palette-blue-tim-blue-tim-10-95);
$global-palette-blue-tim-blue-tim-10-90: var(--global-palette-blue-tim-blue-tim-10-90);
$global-palette-blue-tim-blue-tim-10-85: var(--global-palette-blue-tim-blue-tim-10-85);
$global-palette-blue-tim-blue-tim-10-80: var(--global-palette-blue-tim-blue-tim-10-80);
$global-palette-blue-tim-blue-tim-10-75: var(--global-palette-blue-tim-blue-tim-10-75);
$global-palette-blue-tim-blue-tim-10-70: var(--global-palette-blue-tim-blue-tim-10-70);
$global-palette-blue-tim-blue-tim-10-65: var(--global-palette-blue-tim-blue-tim-10-65);
$global-palette-blue-tim-blue-tim-10-60: var(--global-palette-blue-tim-blue-tim-10-60);
$global-palette-blue-tim-blue-tim-10-55: var(--global-palette-blue-tim-blue-tim-10-55);
$global-palette-blue-tim-blue-tim-10-50: var(--global-palette-blue-tim-blue-tim-10-50);
$global-palette-blue-tim-blue-tim-20: var(--global-palette-blue-tim-blue-tim-20);
$global-palette-blue-tim-blue-tim-20-95: var(--global-palette-blue-tim-blue-tim-20-95);
$global-palette-blue-tim-blue-tim-20-90: var(--global-palette-blue-tim-blue-tim-20-90);
$global-palette-blue-tim-blue-tim-20-85: var(--global-palette-blue-tim-blue-tim-20-85);
$global-palette-blue-tim-blue-tim-20-80: var(--global-palette-blue-tim-blue-tim-20-80);
$global-palette-blue-tim-blue-tim-20-75: var(--global-palette-blue-tim-blue-tim-20-75);
$global-palette-blue-tim-blue-tim-20-70: var(--global-palette-blue-tim-blue-tim-20-70);
$global-palette-blue-tim-blue-tim-20-65: var(--global-palette-blue-tim-blue-tim-20-65);
$global-palette-blue-tim-blue-tim-20-60: var(--global-palette-blue-tim-blue-tim-20-60);
$global-palette-blue-tim-blue-tim-20-55: var(--global-palette-blue-tim-blue-tim-20-55);
$global-palette-blue-tim-blue-tim-20-50: var(--global-palette-blue-tim-blue-tim-20-50);
$global-palette-blue-tim-blue-tim-30: var(--global-palette-blue-tim-blue-tim-30);
$global-palette-blue-tim-blue-tim-30-95: var(--global-palette-blue-tim-blue-tim-30-95);
$global-palette-blue-tim-blue-tim-30-90: var(--global-palette-blue-tim-blue-tim-30-90);
$global-palette-blue-tim-blue-tim-30-85: var(--global-palette-blue-tim-blue-tim-30-85);
$global-palette-blue-tim-blue-tim-30-80: var(--global-palette-blue-tim-blue-tim-30-80);
$global-palette-blue-tim-blue-tim-30-75: var(--global-palette-blue-tim-blue-tim-30-75);
$global-palette-blue-tim-blue-tim-30-70: var(--global-palette-blue-tim-blue-tim-30-70);
$global-palette-blue-tim-blue-tim-30-65: var(--global-palette-blue-tim-blue-tim-30-65);
$global-palette-blue-tim-blue-tim-30-60: var(--global-palette-blue-tim-blue-tim-30-60);
$global-palette-blue-tim-blue-tim-30-55: var(--global-palette-blue-tim-blue-tim-30-55);
$global-palette-blue-tim-blue-tim-30-50: var(--global-palette-blue-tim-blue-tim-30-50);
$global-palette-yellow-green-10: var(--global-palette-yellow-green-10);
$global-palette-info-0: var(--global-palette-info-0);
$global-palette-info-5: var(--global-palette-info-5);
$global-palette-info-10: var(--global-palette-info-10);
$global-palette-info-15: var(--global-palette-info-15);
$global-palette-info-20: var(--global-palette-info-20);
$global-palette-info-25: var(--global-palette-info-25);
$global-palette-info-30: var(--global-palette-info-30);
$global-palette-info-35: var(--global-palette-info-35);
$global-palette-info-40: var(--global-palette-info-40);
$global-palette-info-45: var(--global-palette-info-45);
$global-palette-info-50: var(--global-palette-info-50);
$global-palette-info-55: var(--global-palette-info-55);
$global-palette-info-60: var(--global-palette-info-60);
$global-palette-info-65: var(--global-palette-info-65);
$global-palette-info-70: var(--global-palette-info-70);
$global-palette-info-75: var(--global-palette-info-75);
$global-palette-info-80: var(--global-palette-info-80);
$global-palette-info-85: var(--global-palette-info-85);
$global-palette-info-90: var(--global-palette-info-90);
$global-palette-info-95: var(--global-palette-info-95);
$global-palette-purple-10: var(--global-palette-purple-10);
$global-palette-purple-20: var(--global-palette-purple-20);
$global-palette-purple-30: var(--global-palette-purple-30);
$global-palette-purple-40: var(--global-palette-purple-40);
$global-palette-purple-50: var(--global-palette-purple-50);
$global-palette-purple-60: var(--global-palette-purple-60);
$global-palette-purple-50-50: var(--global-palette-purple-50-50);
$global-palette-violet-10: var(--global-palette-violet-10);
$global-palette-gold-gold-10: var(--global-palette-gold-gold-10);
$global-palette-gold-gold-10-95: var(--global-palette-gold-gold-10-95);
$global-palette-gold-gold-10-90: var(--global-palette-gold-gold-10-90);
$global-palette-gold-gold-10-85: var(--global-palette-gold-gold-10-85);
$global-palette-gold-gold-10-80: var(--global-palette-gold-gold-10-80);
$global-palette-gold-gold-10-75: var(--global-palette-gold-gold-10-75);
$global-palette-gold-gold-10-70: var(--global-palette-gold-gold-10-70);
$global-palette-gold-gold-10-65: var(--global-palette-gold-gold-10-65);
$global-palette-gold-gold-10-60: var(--global-palette-gold-gold-10-60);
$global-palette-gold-gold-10-55: var(--global-palette-gold-gold-10-55);
$global-palette-gold-gold-10-50: var(--global-palette-gold-gold-10-50);
$global-palette-gold-gold-20: var(--global-palette-gold-gold-20);
$global-palette-gold-gold-20-95: var(--global-palette-gold-gold-20-95);
$global-palette-gold-gold-20-90: var(--global-palette-gold-gold-20-90);
$global-palette-gold-gold-20-85: var(--global-palette-gold-gold-20-85);
$global-palette-gold-gold-20-80: var(--global-palette-gold-gold-20-80);
$global-palette-gold-gold-20-75: var(--global-palette-gold-gold-20-75);
$global-palette-gold-gold-20-70: var(--global-palette-gold-gold-20-70);
$global-palette-gold-gold-20-65: var(--global-palette-gold-gold-20-65);
$global-palette-gold-gold-20-60: var(--global-palette-gold-gold-20-60);
$global-palette-gold-gold-20-55: var(--global-palette-gold-gold-20-55);
$global-palette-gold-gold-20-50: var(--global-palette-gold-gold-20-50);
$global-palette-gold-gold-30: var(--global-palette-gold-gold-30);
$global-palette-gold-gold-30-95: var(--global-palette-gold-gold-30-95);
$global-palette-gold-gold-30-90: var(--global-palette-gold-gold-30-90);
$global-palette-gold-gold-30-85: var(--global-palette-gold-gold-30-85);
$global-palette-gold-gold-30-80: var(--global-palette-gold-gold-30-80);
$global-palette-gold-gold-30-75: var(--global-palette-gold-gold-30-75);
$global-palette-gold-gold-30-70: var(--global-palette-gold-gold-30-70);
$global-palette-gold-gold-30-65: var(--global-palette-gold-gold-30-65);
$global-palette-gold-gold-30-60: var(--global-palette-gold-gold-30-60);
$global-palette-gold-gold-30-55: var(--global-palette-gold-gold-30-55);
$global-palette-gold-gold-30-50: var(--global-palette-gold-gold-30-50);
$global-palette-gold-gold-40: var(--global-palette-gold-gold-40);
$global-palette-gold-gold-40-95: var(--global-palette-gold-gold-40-95);
$global-palette-gold-gold-40-90: var(--global-palette-gold-gold-40-90);
$global-palette-gold-gold-40-85: var(--global-palette-gold-gold-40-85);
$global-palette-gold-gold-40-80: var(--global-palette-gold-gold-40-80);
$global-palette-gold-gold-40-75: var(--global-palette-gold-gold-40-75);
$global-palette-gold-gold-40-70: var(--global-palette-gold-gold-40-70);
$global-palette-gold-gold-40-65: var(--global-palette-gold-gold-40-65);
$global-palette-gold-gold-40-60: var(--global-palette-gold-gold-40-60);
$global-palette-gold-gold-40-55: var(--global-palette-gold-gold-40-55);
$global-palette-gold-gold-30-105: var(--global-palette-gold-gold-30-105);
$global-palette-light-blue-10: var(--global-palette-light-blue-10);
$global-palette-system-system-grey-10: var(--global-palette-system-system-grey-10);
