$theme-link-link-default: var(--theme-link-link-default);
$theme-link-link-hover: var(--theme-link-link-hover);
$theme-link-link-pressed: var(--theme-link-link-pressed);
$theme-link-link-accent: var(--theme-link-link-accent);
$theme-link-link-accent-hover: var(--theme-link-link-accent-hover);
$theme-link-link-accent-pressed: var(--theme-link-link-accent-pressed);
