@font-face {
    font-style: normal;
    font-weight: normal;
    src: url('./Hind-Regular.ttf') format('truetype');
    font-family: Hind;
}

@font-face {
    font-style: normal;
    font-weight: 600;
    src: url('./Hind-SemiBold.ttf') format('truetype');
    font-family: Hind;
}

@font-face {
    font-style: italic;
    font-weight: bold;
    src: url('./MyUIBoldItalic.otf') format('opentype');
    font-family: 'Myui';
}
